@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fontPrincipal: 'Rubik', sans-serif;
    --corTextPrincipal: #393939;
    --corPrimaria: #ffffff;
    --corRosa: #FFA7DE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fontPrincipal);
    color: var(--corTextPrincipal);
    background-color: var(--corPrimaria);
    list-style: none;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 4.8rem;
}

.logo-header {
    width: 135px;
    position: relative;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin: 1.3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.input-search {
    background-color: #F1F0FA;
    border-radius: 6px;
    padding: 20px 55px;
    display: flex;
    align-items: center;
}

.input-header {
    border: none;
    background-color: transparent;
    outline: none;
    position: relative;
    right: 20px;
    top: 3px;
    color: #616161;
}

.input-header::placeholder {
    color: #616161;
    font-size: 14px;
}

.input-icon {
    background: transparent;
    position: relative;
    top: 2px;
    left: 30px;
    cursor: pointer;
}

.container-icons {
    display: flex;
    align-items: center;
    position: relative;
    right: 10em;
}

.carrinho-compras {
    margin: 15px;
    cursor: pointer;
}

.container-hr {
    display: grid;
    place-items: center;
}

.hr-header {
    width: 90%;
    border-color: #F8F7FC;
}

.container-contatos {
    margin: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.container-form {
    margin: 3.5rem 0;
}

.titulo-form {
    font-weight: 500;
}

.semi-titulo--form {
    font-size: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.label {
    margin: 0.3rem 0;
}

.input {
    border: 1px solid #F1F0FA;
    background-color: #F1F0FA;
    border-radius: 3px;
    width: 80%;
    padding: 15px 15px;
}

.textarea {
    border: 1px solid #F1F0FA;
    background-color: #F1F0FA;
    border-radius: 3px;
    width: 80%;
    padding: 15px 15px;
}

.button-enviar {
    background-color: #FFA7DE;
    color: #ffffff;
    font-weight: 400;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-style: normal;
    width: 15rem;
    margin-top: 20px;
}

.divulgacao-contatos{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    
}

.divulgacao-item{
    margin: 15px 0;
}

.titulo-divulgacao{
    font-size: 20px;
    font-weight: 500;
}

.divulgacao-container{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.divulgacao-text{
    width: 80%;
}

.footer {
    background-color: #FBFCFE;
    max-width: 100%;
    margin: 5rem 0;
}

.footer--cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer--titulo-newsletter {
    margin: 0 10rem;
}

.footer--titulo-newsletter h3 {
    font-size: 16px;
    font-weight: 600;
}

.footer--titulo-newsletter h4 {
    font-size: 14px;
    font-weight: 500;
}

.footer--compo-texto {
    margin: 0 5rem;

}

.campo-texto {
    background-color: #f1f0faee;
    border-radius: 4px;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-footer {
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    right: 2rem;
}

.button-footer {
    border: none;
    border-radius: 6px;
    background-color: #FFA7DE;
    color: #fff;
    padding: 10px;
    position: relative;
    left: 2rem;
    cursor: pointer;
}

.footer-hr {
    width: 80%;
    margin: 3rem;
    border-color: #f1f1f1;
}

.footer--rodape {
    display: flex;
    align-items: center;
}

.footer--midia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 33.33%;
    flex-grow: 1;
}

.logo-rodape{
    width: 30%;
}

.footer--contatos {
    flex-basis: 33.33%;
    flex-grow: 1;
}

.footer--item-contato{
    display: flex;
    padding: 12px 0;
    align-items: start;
}

.footer--item-contato img{
    margin-right: 10px;
}

.footer--pagamento {
    flex-basis: 33.33%;
    flex-grow: 1;
}

.footer-icons{
    padding: 0 10px;
}
