@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fontPrincipal: 'Rubik', sans-serif;
    --corTextPrincipal: #393939;
    --corPrimaria: #ffffff;
    --corRosa: #FFA7DE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fontPrincipal);
    color: var(--corTextPrincipal);
    background-color: var(--corPrimaria);
    list-style: none;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 4.8rem;
}

.logo-header {
    width: 135px;
    position: relative;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin: 1.3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.input-search {
    background-color: #F1F0FA;
    border-radius: 6px;
    padding: 20px 55px;
    display: flex;
    align-items: center;
}

.input-header {
    border: none;
    background-color: transparent;
    outline: none;
    position: relative;
    right: 20px;
    top: 3px;
    color: #616161;
}

.input-header::placeholder {
    color: #616161;
    font-size: 14px;
}

.input-icon {
    background: transparent;
    position: relative;
    top: 2px;
    left: 30px;
    cursor: pointer;
}

.container-icons {
    display: flex;
    align-items: center;
    position: relative;
    right: 10em;
}

.carrinho-compras {
    margin: 15px;
    cursor: pointer;
}

.container-hr {
    display: grid;
    place-items: center;
}

.hr-header {
    width: 90%;
    border-color: #F8F7FC;
}

.select-categoria {
    display: grid;
    place-items: center;
    margin: 2rem;
}

.mainMenuBtn {
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    margin-bottom: 20px;
}

.icon-categoria {
    width: 15px;
    position: relative;
    top: 3px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
}

.dropdown-child a {
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-child a:hover{
    background-color: var(--corRosa);
    color: var(--corPrimaria);
}

.dropdown:hover .dropdown-child {
    display: block;
}


.container-produtos{
    display: grid;
    place-items: center;
    text-align: center;
    margin: 2rem 5rem;
}

.titulo-produto{
    font-size: 24px;
    font-weight: 500;
    text-align: start;
    color: #3d3d3d;
}

.categoria-produtos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 3rem;
}

.card {
    text-align: start;
    padding: 20px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
}

.card-content {
    position: relative;
    bottom: 20px;
    margin-bottom: 20px;
}

.img-card {
    width: 80%;
    height: 300px;
    object-fit: cover;
}

.card-descricao {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.descricao-card {
    font-size: 14px;
    font-weight: 600;
}

.preco-card {
    color: #FFA7DE;
    font-weight: 600;
    margin: 5px 0;
}

.card button.add-carrinho, .card a.add-carrinho {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFA7DE;
    color: #fff;
    font-weight: 400;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.card:hover button.add-carrinho, .card:hover a.add-carrinho {
    display: block;
}

.footer {
    background-color: #FBFCFE;
    max-width: 100%;
    margin: 5rem 0;
}

.footer--cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer--titulo-newsletter {
    margin: 0 10rem;
}

.footer--titulo-newsletter h3 {
    font-size: 16px;
    font-weight: 600;
}

.footer--titulo-newsletter h4 {
    font-size: 14px;
    font-weight: 500;
}

.footer--compo-texto {
    margin: 0 5rem;

}

.campo-texto {
    background-color: #f1f0faee;
    border-radius: 4px;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-footer {
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    right: 2rem;
}

.button-footer {
    border: none;
    border-radius: 6px;
    background-color: #FFA7DE;
    color: #fff;
    padding: 10px;
    position: relative;
    left: 2rem;
    cursor: pointer;
}

.footer-hr {
    width: 80%;
    margin: 3rem;
    border-color: #f1f1f1;
}

.footer--rodape {
    display: flex;
    align-items: center;
}

.footer--midia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 33.33%;
    flex-grow: 1;
}

.logo-rodape{
    width: 30%;
}

.footer--contatos {
    flex-basis: 33.33%;
    flex-grow: 1;
}

.footer--item-contato{
    display: flex;
    padding: 12px 0;
    align-items: start;
}

.footer--item-contato img{
    margin-right: 10px;
}

.footer--pagamento {
    flex-basis: 33.33%;
    flex-grow: 1;
}

.footer-icons{
    padding: 0 10px;
}
