@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fontPrincipal: 'Rubik', sans-serif;
    --corTextPrincipal: #393939;
    --corPrimaria: #F1F0FA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fontPrincipal);
    color: var(--corTextPrincipal);
    background-color: var(--corPrimaria);
    list-style: none;
    overflow-x: hidden;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 4.8rem;
}

.logo-header{
    width: 135px;
    position: relative;
}

.nav-list{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 1.5rem;
}

.nav-link{
    margin: 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    transition: all .5s ease-in-out;
}

.nav-link-active{
    font-weight: 700;
}

.nav-link:hover{
    font-weight: 600;
    font-size: 17px;
}

.input-seach{
    position: relative;
    left: 5rem;
    border: none;
    border-radius: 6px;
}
