<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabrina Modas | Contatos</title>
    <link rel="stylesheet" href="../../css/contato.css">
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">

        <nav class="nav">

            <a href="#">
                <img src="../../img/logo.png" alt="logo" class="logo-header">
            </a>



            <ul class="nav-list">
                <li class="nav-item">
                    <a href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a href="../Produtos/index.html">Produtos</a>
                </li>
                <li class="nav-item">
                    <a href="#">Contato</a>
                </li>
            </ul>
        </nav>

        <div class="input-search">
            <input class="input" type="search" placeholder="Faça sua pesquisa" />
            <img class="input-icon" src="../../img/procurar.png" alt="procurar">
        </div>

        <div class="container-icons">
            <div class="carrinho-compras">
                <img src="../../img/carrinho.png" alt="carrinho">
            </div>

            <div class="perfil">
                <img src="../../img/perfil.png" alt="perfil">
            </div>
        </div>



    </header>

    <div class="container-hr">
        <hr class="hr-header">
    </div>

    <section class="container-contatos">
        <div class="form-contatos">
            <h2 class="title">Fale conosco</h2>
        </div>
        <div class="divulgacao-contatos">

        </div>
    </section>
</body>
</html>