<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabrina Modas | Login</title>
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/login.css">
</head>

<body>
    <header class="header">
        <a href="../../index.html">
            <img src="../../img/logo.png" alt="logo" class="logo-header">
        </a>
    </header>

    <div class="container-hr">
        <hr class="hr-header">
    </div>

    <main class="main">

        <div class="container-form-login">
            <form action="" class="formulario">

                <h3 class="form-titulo">Login</h3>

                <label class="label" for="Nome">Nome completo</label>
                <input class="input" type="text" placeholder="Nome completo" id="Nome">

                <label class="label" for="Email">Email</label>
                <input class="input" type="text" placeholder="E-mail" id="Email">

                <label class="label" for="Senha">Senha</label>
                <input class="input" type="text" placeholder="Senha" id="Senha">
                
                <a href="" class="button-login">Entrar</a>
            </form>
        </div>
    </main>
</body>

</html>