<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabrina Modas | Produtos</title>
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./../../css/produto.css">
</head>

<body>
    <header class="header">

        <nav class="nav">

            <a href="#">
                <img src="../../img/logo.png" alt="logo" class="logo-header">
            </a>



            <ul class="nav-list">
                <li class="nav-item">
                    <a href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a href="views/Produtos/index.html">Produtos</a>
                </li>
                <li class="nav-item">
                    <a href="#">Contato</a>
                </li>
            </ul>
        </nav>

        <div class="input-search">
            <input class="input" type="search" placeholder="Faça sua pesquisa" />
            <img class="input-icon" src="../../img/procurar.png" alt="procurar">
        </div>

        <div class="container-icons">
            <div class="carrinho-compras">
                <img src="../../img/carrinho.png" alt="carrinho">
            </div>

            <div class="perfil">
                <img src="../../img/perfil.png" alt="perfil">
            </div>
        </div>



    </header>

    <div class="container-hr">
        <hr class="hr-header">
    </div>

    <main>

        <div class="select-categoria">

            <div class="dropdown">
                <button class="mainMenuBtn">CATEGORIAS
                    <i>
                        <img src="../../img/icon-categoria.png" class="icon-categoria">
                    </i>
                </button>
                <div class="dropdown-child">
                    <div class="dropdown-child--links">
                        <a href="">Tênis</a>
                        <a href="">Conjuntos</a>
                    </div>
                </div>
            </div>

        </div>

    </main>
</body>

</html>