<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabrina Modas | Produtos</title>
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./../../css/produto.css">
</head>

<body>
    <header class="header">

        <nav class="nav">

            <a href="#">
                <img src="../../img/logo.png" alt="logo" class="logo-header">
            </a>



            <ul class="nav-list">
                <li class="nav-item">
                    <a href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a href="views/Produtos/index.html">Produtos</a>
                </li>
                <li class="nav-item">
                    <a href="#">Contato</a>
                </li>
            </ul>
        </nav>

        <div class="input-search">
            <input class="input" type="search" placeholder="Faça sua pesquisa" />
            <img class="input-icon" src="../../img/procurar.png" alt="procurar">
        </div>

        <div class="container-icons">
            <div class="carrinho-compras">
                <img src="../../img/carrinho.png" alt="carrinho">
            </div>

            <div class="perfil">
                <img src="../../img/perfil.png" alt="perfil">
            </div>
        </div>



    </header>

    <div class="container-hr">
        <hr class="hr-header">
    </div>

    <main>

        <section class="select-categoria">

            <div class="dropdown">
                <button class="mainMenuBtn">CATEGORIAS
                    <i>
                        <img src="../../img/icon-categoria.png" class="icon-categoria">
                    </i>
                </button>
                <div class="dropdown-child">
                    <div class="dropdown-child--links">
                        <a href="#tenis">Tênis</a>
                        <a href="#conjunto">Conjuntos</a>
                    </div>
                </div>
            </div>

        </section>


        <section class="container-produtos">

            <div class="container-titulo">
                <h3 class="titulo-produto">Tênis</h3>
            </div>

            <div class="categoria-produtos" id="tenis">
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto1.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">

                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto2.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto3.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto4.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>

                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto5.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto6.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto1.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto1.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
            </div>

            <div class="container-titulo">
                <h3 class="titulo-produto">Conjunto</h3>
            </div>

            <div class="categoria-produtos" id="conjunto">
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto1.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">

                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto2.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto3.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto4.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>

                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto5.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto6.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto1.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-img">
                            <img class="img-card" src="../../img/produtos/produto1.png" alt="produto1">
                        </div>
                        <div class="card-descricao">
                            <p class="descricao-card">Conjunto Planet Girls</p>
                        </div>
                        <div class="card-preco">
                            <p class="preco-card">R$ 80,00</p>
                        </div>
                    </div>
                    <button class="add-carrinho">Adicione</button>
                </div>
            </div>

        </section>

    </main>

    <footer class="footer">
        <div class="footer--cabecalho">
            <div class="footer--titulo-newsletter">
                <h3>CADASTRE-SE EM NOSSA NEWSLETTER</h3>
                <h4>e receba novidades e promoções da nossa loja</h4>
            </div>

            <div class="footer--compo-texto">
                <div class="campo-texto">
                    <input class="input-footer" type="email" placeholder="Digite seu email">
                    <button class="button-footer">Cadastre-se</button>
                </div>
            </div>
        </div>

        <div class="container-hr">
            <hr class="footer-hr">
        </div>

        <div class="footer--rodape">
            <div class="footer--midia">
                <img src="../../img/logo.png" alt="logo rodape" class="logo-rodape">
                <div class="footer--midia-redesociais">

                    <img src="../../img/facebook.png" alt="facebook" class="footer-icons">

                    <img src="../../img/instagram.png" alt="instagram" class="footer-icons">
                </div>
            </div>
            <div class="footer--contatos">
                <h4>Atendimento</h4>
                <div class="footer--item-contato">
                    <img src="../../img/celular.png" alt="celular" class="footer-icons">
                    <p>(11) 997135477</p>
                </div>
                <div class="footer--item-contato">
                    <img src="../../img/email.png" alt="email.png" class="footer-icons">
                    <p>contato@wallyssonsousa.com.br</p>
                </div>
            </div>
            <div class="footer--pagamento">
                <h4>Formas de pagamento</h4>
                <img src="../../img/lista-pagamentos.png" alt="lista-pagamentos">
            </div>
        </div>

    </footer>
</body>

</html>